<!DOCTYPE html>
<html>
<head>
  <title>Login device</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "login_device/application", media: "all" %>
  <%= javascript_include_tag "login_device/application" %>
</head>
<body>
<%= yield %>

</body>
</html>
